.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/*Шапка сайта*/
.header {
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin-bottom: 100px;
  /* выше установили ограничения для секции */
  background: #f2f2f2;
}
/*Размеры для лого*/
.logo {
  width: 228px;
  height: 32px;
}
/*Позиционирование лого в шапке*/
.logo_place_header {
  z-index: 2;
  position: absolute;
  top: 30px;
  left: 64px;
}
/*Позиционирование и стили для заголовка шапки*/
.header__title {
  z-index: 2;
  margin: 0 0 0 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}
/*Позиционирование и стили для текста шапки*/
.header__subtitle {
  margin: 0;
  z-index: 2;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
/*Убираем подчеркивание для ссылки и меняем цвет*/
.header__link {
  text-decoration: none;
  color: #2f80ed;
}
/*Описываем стили голобого квадрата в шапке сайта*/
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}
/*Позиционирование картинки в шапке*/
.header__main-illlustration {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  object-fit: cover;
}
/*Выравниваем содержимое блока по центру*/
.description {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
/*Выравниваем содержимое блока в колонки*/
.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
/*Стили заголовка*/
.two-columns__brief {
  margin: 0;
  color: #2f80ed;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}
/*Стили текста*/
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 0 0 30px 0;
}
/*Убираем у последнего параграфа нижний отступ*/
.two-columns__paragraph:last-child {
  margin-bottom: 0;
}
.two-columns__span-accent {
  font-weight: 600;
}
/*Блок digits */
.digits {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Заголовок блока*/
.section-title {
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0 0 20px 0;
}
/*Подзаголовок блока*/
.section-subtitle {
  margin: 0;
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
/*Общие стили таблицы*/
.table {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.table__cell {
  margin-top: 60px;
  width: 250px;
}
.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0 ;
}
/*Блок feynman*/
.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
  min-height: 890px;
}
/*Заголовок блока*/
.feynman__title {
  z-index: 1;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin: 0 0 70px 0;
  padding-top: 100px;
}
/*Подзаголовок блока*/
.feynman__subtitle {
  margin: 0;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
  font-weight: normal;
  text-decoration: none;
}
.feynman__illustration {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
}
/*Блок kaufnman*/
.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 90px 0;
  background-color: #1f1f1f;
}
/*Ниже описывается модификатор темной темы для блока*/
.section-title_theme_dark {
  color: #fff;
  z-index: 1;
}
.section-subtitle_theme_dark {
  color: #fff;
  z-index: 1;
}
.table_theme_dark {
  z-index: 1;
  color: #fff;
}
/*Переопределяем ширину и отступы*/
.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}
.table__heading_theme_dark {
  color: #fff;
}
.table__text_theme_dark {
  color: #fff;
}
/*Треугольник*/
.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url('../images/kaufman-triangle.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
/*Подвал сайта*/
.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;
  min-height: 350px;
  padding: 60px 0 40px;
  display: flex;
  justify-content: center;
}
.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}
.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
  color: #fff;
}
/*Заголовки колонок*/
.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
/*Колонки со ссылками*/
.footer__column-links {
  list-style-type: none;
  /*выше убираем метки списка*/
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px 0 16px;
  padding: 0;
}
/*ссылки в колонках*/
.footer__column-link {
  color: #fff;
  text-decoration: none;
}
/*Иконки соцсетей для ссылок*/
.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}
